body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.popupCustom {
  display:flex,
}

.popupCustom .col {
  min-width:125px;
  font-weight: bold
}

.popupCustom .row {
  display: flex
}

.popupCustom .border {
  border-bottom: solid 1px grey;
}